@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #ededed;
  --font-color: #242424;
  --hover-color: #2aa7e5;
  --clicked-color: #479ac4;

  font-family: "Segoe UI", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--font-color);
  scroll-behavior: smooth;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

#root {
  @apply grow;
}

section {
  @apply py-10 md:px-14 px-5;
}

h1 {
  color: #157aac;
  background-image: -webkit-linear-gradient(
    0deg,
    #157aac 17%,
    #1992ce 40%,
    #2aa7e5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a, a:visited {
  text-decoration: none;
}
h2 {
  @apply font-bold text-xl;
}
h3 {
  @apply font-semibold text-xl mt-4 indent-3;
}
h4 {
  @apply font-medium mt-3 indent-3;
}
code {
  @apply block bg-white mt-2 p-3 rounded text-gray-600
  ml-3 break-words dark:bg-[#333333] dark:text-[#EDEDED];
}
.topic {
  @apply pt-5 pb-2 font-bold text-3xl;
}
.subtopic {
  @apply indent-3 pt-5 pb-2 font-semibold text-xl;
}
.paragraph {
  @apply indent-3;
}
.obs {
  @apply block relative top-2 ml-3 w-[96%];
}
.divider {
  @apply w-10/12 mt-5 m-auto border-[--hover-color];
}
.modal {
  @apply flex flex-col justify-between fixed inset-0 top-[25%] lg:left-[max(34%,calc(50%-23rem))] left-[27%] z-[200]
  min-w-[364px] w-2/6 max-w-3xl min-h-max max-h-96 bg-white dark:bg-[#333333] rounded-xl p-4 drop-shadow-tooltip
  text-4xl font-bold dark:text-[#EDEDED];
}

nav li {
  @apply w-[95%] p-1 my-2 bg-white dark:bg-[#333333] rounded-sm
  border-b-2 border-gray-500 dark:border-[#000000] font-bold select-none
  cursor-pointer transition-colors hover:text-[--hover-color];
}
nav li > a {
  @apply block w-full h-full;
}
.introduction {
  @apply border-2 border-[#2AA7E5] dark:border-[#2AA7E5] bg-[#B3DFF6]
  text-[#1992CE] hover:text-[#1992CE];
}

.butt {
  @apply transition-colors hover:text-[--hover-color] select-none;
}
.button {
  @apply border-2 border-b border-[#2aa7e5] p-1.5 px-2 text-2xl bg-white
  hover:border-b-[3px] hover:border-t relative inline-block dark:bg-[#333333];
}

.input-search {
  @apply flex flex-row justify-between gap-2 items-center bg-white dark:bg-[#333333]
  w-full border-2 border-[#1992CE] rounded-sm px-2 py-0.5;
}.input-search input {
  @apply bg-transparent focus:outline-none w-11/12;
}

.tooltip {
  @apply invisible bg-white text-center p-1.5 rounded-md text-base font-semibold
  absolute z-50 bottom-[130%] opacity-0 transition-opacity drop-shadow-tooltip
  border-2 border-[#2AA7E5] whitespace-nowrap dark:bg-[#333333] dark:text-[#EDEDED];
}
.tooltip::after {
  @apply content-[""] absolute top-full left-1/2 -ml-[5px] border-[7px]
  border-solid border-transparent border-t-[#2AA7E5];
}
.button:hover .tooltip {
  @apply visible opacity-100;
}

.toggle-off {
  @apply text-4xl text-black;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.toggle-on {
  @apply text-[#4A9CC2] text-4xl select-none;
}

#blue {
  @apply text-blue-600;
}
#strong-blue {
  @apply text-blue-900;
}
#green {
  @apply text-green-600;
}

.recoil {
  @apply block ml-9;
}
.logo {
  @apply min-w-[64px] w-full max-w-md cursor-pointer transition-all;
}
.src {
  @apply block md:text-2xl text-lg;
}

/* Width */
::-webkit-scrollbar {
  width: 1vw;
  max-width: 0.3rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #67ccff;
}
